<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello World</title>
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">

    <!-- Add plugin styles -->
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
  </head>
  <body>
    <div>
      <div class='center'>
        <div class='title'>Room Type Classifier</div>
        <input class='center' id='thumb' type="file">
        <div class='analyze'>
          <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
        </div>
        <div class='result-label'>
            <label id='result-label'></label>
        </div>
      </div>
    </div>

    <!-- Add plugin scripts -->
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>

    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script>
        FilePond.registerPlugin(
            FilePondPluginImagePreview
        );
        const inputElement = document.querySelector('input[type="file"]');
        const pond = FilePond.create(inputElement);
    </script>
  </body>
</html>